!!! 5
%html
 %head
  %meta{:charset => "utf8"}
  %link{:rel => "stylesheet", :href => "css/style.css"}
 %body
  %div
   %ul.menu
    %li 
     %a{:href => "index.html"} Главная
    %li 
     %a{:href => "index.html"} Мой кабинет
    %li 
     %a{:href => "index.html"} Оформление заказа
  %h1 Оформление заказа
  %div.menu2
   %ul
    %li 
     %a{:class => "active", :href => "index.html"} 1. Мой заказ
     %img{:src => "tab_new.png", :alt => ""}
    %li 
     %a{:href => "index.html"} 2. Способ доставки
    %li 
     %a{:href => "index.html"} 3. Способ оплаты
  %div.footer
   %img{:src => "pic_elephant.png", :alt => ""}
   %img{:src => "pic_basket.png", :alt => ""}
   %img{:src => "pic_hedgehog.png", :alt => ""}

